audio_recorder_streamlit==0.0.8
beautifulsoup4==4.12.3
PyMuPDF==1.24.0
google_api_python_client==2.125.0
langchain==0.3.7
langchain_community==0.3.5
networkx==3.2.1
# opencv_python==4.9.0.80
opencv-python-headless==4.9.0.80
pdfkit==1.0.0
piazza_api==0.14.1
Pillow
PyPDF2==2.10.5
# PyPDF2==3.0.1
python-dotenv==1.0.1
spacy==3.7.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
SpeechRecognition==3.10.3
streamlit==1.32.2
wikipedia==1.4.0
youtube_transcript_api==0.6.2
yt_dlp==2024.11.4
